---
import type { ImageMetadata } from "astro";
import footerImage from "../../../assets/corp/footer.gif";
import logoImage from "../../../assets/corp/logo.png";

const bannerImages = Object.values(
    import.meta.glob<{ default: ImageMetadata }>(
        "../../../assets/corp/ssobanner*.jpg",
        {
            eager: true,
        }
    )
);
const bannerImage =
    bannerImages[Math.floor(Math.random() * bannerImages.length)]!.default;

function unCorpUrl(url: string | URL): URL {
    return import.meta.env.CORPORATE_URL
        ? new URL(url, Astro.site)
        : new URL(url, Astro.url);
}

const canonicalUrl = new URL(
    Astro.url,
    import.meta.env.CORPORATE_URL || Astro.url
);

if (import.meta.env.CORPORATE_URL) {
    canonicalUrl.pathname = canonicalUrl.pathname.replace(/^\/corp/, "");
}
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="icon"
            type="image/svg+xml"
            href={unCorpUrl("/favicon.svg")}
        />
        <link rel="sitemap" href={unCorpUrl("/sitemap.xml")} />
        <link rel="canonical" href={canonicalUrl} />
        <title>Nonacademic.net Single Sign On: Sign into corp</title>
    </head>
    <body>
        <div class="bar">
            <img
                src={logoImage.src}
                width={logoImage.width}
                height={logoImage.height}
                alt="Nonacademic Single Sign On"
            />
            <div class="bar__spacer">Single Sign On</div>
        </div>

        <main>
            <form method="post" action="perform">
                <slot />
            </form>
            <img
                src={bannerImage.src}
                width={bannerImage.width}
                height={bannerImage.height}
                alt=""
            />
        </main>

        <div class="bar bar--footer">
            <div class="bar__spacer"></div>
            <img
                src={footerImage.src}
                width={footerImage.width}
                height={footerImage.height}
                alt=""
            />
        </div>
    </body>
</html>

<style is:global>
    body {
        font-family: Arial, sans-serif;
        margin: 2px 0 0;
        padding: 0;
    }

    a:focus {
        outline: solid;
    }

    .bar {
        display: flex;
        width: 95%;
        margin: 0 auto;
        height: 3em;
    }

    .bar__spacer {
        border-radius: 4px;
        background-color: #ebdf35;
        flex-grow: 1;
        align-self: end;
        font-weight: bold;
        text-align: left;
        padding: 3px 7px;
        height: 18px;
        margin: 0 3px -1px;
    }

    .bar img {
        margin: 13px 3px 13px 0;
        height: 100%;
        width: auto;
    }

    .bar--footer img {
        height: 53px;
    }

    main {
        border: #ebdf35 2px solid;
        background-color: lightyellow;
        display: flex;
        margin: 44px auto 16px;
        width: max-content;
        padding: 6px;
    }

    main > img {
        max-width: 400px;
        margin: 8px;
        border: 1px solid black;
    }

    h2 {
        padding: 5px;
        margin: 0;
        font-size: inherit;
        text-align: center;
    }

    h2 div {
        margin: 3px 0 7px;
    }

    form {
        padding: 0.5em 2em 0;
        margin-top: -3px;
    }

    form > * {
        font-size: 0.83em;
    }
</style>
