---
import { soundFromDb } from "../../db/config";
import Layout from "../layouts/Layout.astro";
import { db, Sound, Member, eq } from "astro:db";
import AudioPlayer from "../components/AudioPlayer";

export const prerender = false;

const sounds = (
    await db
        .select()
        .from(Sound)
        .where(eq(Sound.deleted, false))
        .innerJoin(Member, eq(Sound.memberDiscord, Member.discord))
)
    .sort((a, b) => b.Sound.date.getTime() - a.Sound.date.getTime())
    .map((sound) => ({
        Sound: soundFromDb(sound.Sound),
        Member: sound.Member,
    }));
---

<Layout header="Sounds">
    A lot of us in the group make music. This is some music we have released
    under the collective's name instead of our own:
    <div class="sounds">
        {
            sounds.map((sound) => (
                <div class="sound">
                    <img
                        alt=""
                        src={`/sounds-uploads/${sound.Sound.id}/cover.${sound.Sound.coverType}`}
                        style={{
                            border: `var(--border-thickness) solid ${sound.Member.color}`,
                        }}
                    />
                    <div class="details">
                        <h2>{sound.Sound.title}</h2>
                        {/* prettier-ignore */}
                        <div>
                            <a href={sound.Sound.youtubeUrl}>{/* prettier-ignore */}<span class="y">You</span><span class="t">Tube</span></a>
                            |
                            <a href={sound.Sound.soundcloudUrl}>{/* prettier-ignore */}<span class="s">Sound</span><span class="c">Cloud</span></a>
                            |
                            <span>{sound.Sound.date.toLocaleString()}</span>
                        </div>
                        <AudioPlayer
                            client:only="react"
                            src={`/sounds-uploads/${sound.Sound.id}/track.${sound.Sound.trackType}`}
                        />
                        <div class="tags">
                            {sound.Sound.tags.map((tag) => (
                                <span>{tag}</span>
                            ))}
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</Layout>

<style>
    .sounds {
        margin: 1lh 0;
        display: flex;
        flex-direction: column;
        gap: 1lh;
    }

    .sound {
        display: flex;
        gap: 2ch;
        flex: 0 0 round(11lh, 1ch);
    }

    img {
        width: 11lh;
        height: 100%;
        flex: none;
        object-fit: cover;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 1lh;
        flex-grow: 1;
        min-width: 0;
    }

    h2 {
        height: 2lh;
        margin: 0;
        text-transform: none;
    }

    .tags {
        display: flex;
        gap: 2ch;
        overflow-x: auto;
        margin-top: auto;
    }

    .tags > span {
        border: var(--border-thickness) solid white;
        padding: calc(0.5lh - var(--border-thickness))
            calc(2ch - var(--border-thickness));
        text-wrap: nowrap;
    }

    .y {
        color: var(--text-color-alt);
    }

    .t {
        color: rgb(255, 0, 0);
    }

    .s {
        color: rgb(255, 85, 0);
    }

    .c {
        color: rgb(255, 115, 0);
    }
</style>
