---
import { db } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import { Word } from "astro:db";
import { eq } from "astro:db";
import { readFile } from "fs/promises";

export const prerender = false;

if (process.env.WORDS_UPLOAD_DIRECTORY == null) {
	// todo ..?
	return jsonError("Env not set", 500);
}

const word = await db
	.select()
	.from(Word)
	.where(eq(Word.slug, Astro.props.id))
	.get();

if (word == null) {
	// todo
	throw new Error();
}

const wordHtml = await readFile(
	`${process.env.WORDS_UPLOAD_DIRECTORY}/${word.slug}/words.html`,
	"utf8",
);
---

<Layout title={word.slug}>
	<small>{word.date.toLocaleString()}</small>
	<Fragment set:html={wordHtml} />
	<!-- <p style=`color: ${word.data.author.replace("\\", "")}`>-L</p> -->
</Layout>
