---
import { db } from 'astro:db';
import Layout from '../../layouts/Layout.astro';
import { Word } from 'astro:db';
import { wordFromDb, wordId } from '../../../db/config';
import { Member } from 'astro:db';
import { eq } from 'astro:db';

export const prerender = false;

const wordResults = (
    await db
        .select({
            word: Word,
            memberColor: Member.color,
        })
        .from(Word)
        .where(eq(Word.deleted, false))
        .innerJoin(Member, eq(Word.memberDiscord, Member.discord))
    ).sort((a, b) => b.word.date.getTime() - a.word.date.getTime());
---

<Layout header="Words">
    {wordResults.length > 0 ? (
        <p>Here are some words</p>
        <ul>
            {wordResults.map((wordResult) => {
                const word = wordFromDb(wordResult.word);
                const memberColor = wordResult.memberColor;

                return (
                    <li title={memberColor} style={`--marker-color: ${memberColor}`}>
                        <a href={`/words/${wordId(word)}`}>{word.title}<br>{word.date.toLocaleString()}</a>
                    </li>
                );
            })}
        </ul>
    ) : (
        <p>No words currently</p>
    )}
</Layout>

<style>

    li {
        margin-top: calc(var(--line-height) / 2);
    }

    li a {
        text-decoration: none;
    }

    li::marker {
        color: var(--marker-color);
    }
</style>
