---
import { ThemeLoader, ThemeSelect, ThemeStyling } from "nottheme";
import settings from "../styles/nottheme";
import "../styles/index.css";
const { header, title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Latex 4000's Words"
            href={new URL("/rss.xml", Astro.url)}
        />
        <title>{title || "Latex 4000"}</title>
        <meta name="description" content="Latex 4000 Collective" />
        <meta name="author" content="Latex 4000" />
        <meta name="keywords" content="Latex 4000, collective, webring" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@Latex4000" />
        <meta name="twitter:title" content={title || "Latex 4000"} />
        <meta name="twitter:description" content="Latex 4000 Collective" />
        <meta name="twitter:image" content={new URL("/logo.png", Astro.url)} />
        <meta property="og:title" content={title || "Latex 4000"} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content={new URL("/logo.png", Astro.url)} />
        <meta property="og:description" content="Latex 4000 Collective" />
        <meta property="og:site_name" content="Latex 4000" />
        <meta property="og:locale" content="en_US" />
        <link id="theme-link" rel="stylesheet" href="/styles/mono.css" />
        <ThemeStyling settings={settings} />
        <script>
            window.__nottheme_onChange = (_: string, value: string) => {
                const newcss = value.split("-")[0]!;
                const themeLinkTag = document.getElementById(
                    "theme-link"
                ) as HTMLLinkElement;
                if (themeLinkTag.href.includes(newcss)) return;

                themeLinkTag.href = `/styles/${newcss}.css`;
                const styleSource = document.getElementById(
                    "style-source"
                ) as HTMLLinkElement;
                styleSource.textContent = getComputedStyle(
                    document.body
                ).getPropertyValue("--srctext");
                styleSource.href = getComputedStyle(
                    document.body
                ).getPropertyValue("--srclink");
            };
        </script>
    </head>
    <body>
        <ThemeLoader settings={settings} />
        <header>
            <div class="main-header">
                <h1>
                    <a href="/" class="header latex"
                        >L<span>a</span>T<span>e</span>X 4000 / L4K</a
                    >
                </h1>
                <ThemeSelect settings={settings} />
            </div>
            <h2 class="header-nav">
                <span class="header-nav-ch"><a href="/random">!ch</a>&#32;</span
                >
                <a href="/">Home</a>
                |
                <a href="/sounds">Sounds</a>
                |
                <a href="/words">Words</a>
                |
                <a href="/actions">Actions</a>
                |
                <a href="/motions">Motions</a>
                <!-- |
                <a href="/sights">Sights</a> -->
                <!-- |
                <a href="/things">Things</a> -->
            </h2>
            <h2>{header}</h2>
        </header>
        <main>
            <slot />
            <div class="webring">
                Webring:
                <div>
                    <a href="/ring?action=prev&from=Latex 4000" title="Previous"
                        >←</a
                    >
                    <a href="/ring?action=rand&from=Latex 4000" title="Random"
                        >Random</a
                    >
                    <a href="/ring?action=next&from=Latex 4000" title="Next"
                        >→</a
                    >
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-links">
                <a href="https://www.youtube.com/@latex4000" target="_blank"
                    >YouTube</a
                >
                |
                <a href="https://soundcloud.com/latex4000" target="_blank"
                    >SoundCloud</a
                >
                |
                <a href="https://github.com/Latex4000" target="_blank">GitHub</a
                >
            </div>
            <a
                href="https://owickstrom.github.io/the-monospace-web/"
                target="_blank"
                id="style-source">Design implemented from The Monospace Web</a
            >
        </footer>
    </body>
</html>

<style>
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--line-height);
    }

    .header-nav {
        position: relative;
    }

    .header-nav-ch {
        position: absolute;
        right: 100%;
        text-transform: none;
        white-space: pre;
    }

    footer {
        margin-block: var(--line-height);
    }

    #style-source {
        opacity: var(--srcopacity);
    }
    main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .webring {
        margin-top: auto;
    }

    @media only screen and (max-width: 600px) {
        .webring {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header-nav {
            justify-content: center;
            align-items: center;
        }

        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
</style>
